# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/src/profile/
/android/app/src/debug/
/test/widget_test.dart
/.firebase/arwen-productivity/hosting/assets/assets/archive.png
/.firebase/arwen-productivity/hosting/assets/assets/ask.png
/.firebase/arwen-productivity/hosting/assets/assets/decision.png
/.firebase/arwen-productivity/hosting/assets/assets/icon.png
/.firebase/arwen-productivity/hosting/assets/assets/logo.png
/.firebase/arwen-productivity/hosting/assets/assets/menu.png
/.firebase/arwen-productivity/hosting/assets/assets/query.png
/.firebase/arwen-productivity/hosting/assets/assets/save.png
/.firebase/arwen-productivity/hosting/assets/assets/search.png
/.firebase/arwen-productivity/hosting/assets/assets/settings.png
/.firebase/arwen-productivity/hosting/assets/fonts/anurati.otf
/.firebase/arwen-productivity/hosting/assets/fonts/electric.ttf
/.firebase/arwen-productivity/hosting/assets/fonts/MaterialIcons-Regular.otf
/.firebase/arwen-productivity/hosting/assets/fonts/ubuntu.ttf
/.firebase/arwen-productivity/hosting/assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/.firebase/arwen-productivity/hosting/assets/packages/fluttertoast/assets/toastify.css
/.firebase/arwen-productivity/hosting/assets/packages/fluttertoast/assets/toastify.js
/.firebase/arwen-productivity/hosting/assets/shaders/ink_sparkle.frag
/.firebase/arwen-productivity/hosting/assets/AssetManifest.bin
/.firebase/arwen-productivity/hosting/assets/AssetManifest.bin.json
/.firebase/arwen-productivity/hosting/assets/AssetManifest.json
/.firebase/arwen-productivity/hosting/assets/FontManifest.json
/.firebase/arwen-productivity/hosting/assets/NOTICES
/.firebase/arwen-productivity/hosting/canvaskit/chromium/canvaskit.js
/.firebase/arwen-productivity/hosting/canvaskit/chromium/canvaskit.js.symbols
/.firebase/arwen-productivity/hosting/canvaskit/chromium/canvaskit.wasm
/.firebase/arwen-productivity/hosting/canvaskit/canvaskit.js
/.firebase/arwen-productivity/hosting/canvaskit/canvaskit.js.symbols
/.firebase/arwen-productivity/hosting/canvaskit/canvaskit.wasm
/.firebase/arwen-productivity/hosting/canvaskit/skwasm.js
/.firebase/arwen-productivity/hosting/canvaskit/skwasm.js.symbols
/.firebase/arwen-productivity/hosting/canvaskit/skwasm.wasm
/.firebase/arwen-productivity/hosting/.last_build_id
/.firebase/arwen-productivity/hosting/flutter.js
/.firebase/arwen-productivity/hosting/flutter_bootstrap.js
/.firebase/arwen-productivity/hosting/flutter_service_worker.js
/.firebase/arwen-productivity/hosting/index.html
/.firebase/arwen-productivity/hosting/main.dart.js
/.firebase/arwen-productivity/hosting/manifest.json
/.firebase/arwen-productivity/hosting/version.json
/.firebase/hosting.LmZpcmViYXNlXGFyd2VuLXByb2R1Y3Rpdml0eVxob3N0aW5n.cache
/.firebaserc
