<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Eresse"
        android:name="${applicationName}"
        android:theme="@style/GeeksEmpire.Theme"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:hardwareAccelerated="true"
        android:largeHeap="true">

        <meta-data
                    android:name="com.google.firebase.messaging.default_notification_icon"
                    android:resource="@drawable/branding" />

        <meta-data
                    android:name="com.google.firebase.messaging.default_notification_color"
                    android:resource="@color/primaryColorPurple" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/GeeksEmpire.Theme"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:hardwareAccelerated="true">

            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/GeeksEmpire.Theme"
              />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
